/* --------------------------------
	-Folha de estilos Pensadores  
	-Autor: Joanez Andrades
	-05/11/2015 
----------------------------------- */
/*Importação de fontes*/
@import url(http://fonts.googleapis.com/css?family=Montserrat:700); /*Titulos - h1, h2, h3...*/
@import url(http://fonts.googleapis.com/css?family=Roboto); /*Paragráfos - p, span*/
@import url(http://fonts.googleapis.com/css?family=Oxygen); /*Menus, ul, li, botões e links*/
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icons/icomoon.eot?-gu21mg');
	src:url('fonts/icons/icomoon.eot?#iefix-gu21mg') format('embedded-opentype'),
		url('fonts/icons/icomoon.woff?-gu21mg') format('woff'),
		url('fonts/icons/icomoon.ttf?-gu21mg') format('truetype'),
		url('fonts/icons/icomoon.svg?-gu21mg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*Configurações globais*/
html{
	/*overflow: hidden;*/
}
body{
	margin: 0 auto;
	font-size: 62.5%;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Montserrat', 'icomoon', sans-serif; margin: 0;
}
p,span,i{
	font-family: 'Roboto', 'icomoon', sans-serif;
}
nav,ul,li,button,a{
	font-family: 'Oxygen', 'icomoon', sans-serif;
}
ul, li, a{
	list-style: none; 
	text-decoration: none;
}

/*Icons*/
.ico-facebook:before{ content: '\e76a'; padding-top: .2em;}
.ico-instagram:before{ content: '\e76c'; padding: .2em;}
.ico-twitter:before{ content: '\e76e'; padding: .2em;}
.ico-wikipedia:before{ content: '\e621'; padding: .2em;}

.ico-copy:before{ content: '\e629'; padding: .2em;}

@media(min-width: 1366px){
	
	h1{font-size: 5em;}
	h2{font-size: 3.5em;}
	h3{font-size: 3em;}
	h4{font-size: 2.5em;}
	ul li{font-size: 2em;}
	p{font-size: 1.6em;}
	span{font-size: 1.3em;}

	header{
		background: url(../img/sunset-907704_1920.jpg) no-repeat;
		background-size: 100% 100%;
		width: 100%;
		min-height: 100vh;
		height: 100%;
		margin: 0 auto;
	}
		header .title{
			color: #FFFFFF;
			text-align: center;
			line-height: 200px
		}
		header .text{
			color: #FFFFFF;
			text-align: center;
		}


	header div.bg-one{
		background: rgba(236, 240, 241, .3);
		width: 100%;
		height: 50vh;
		margin: 0;
	}
	header div.bg-two{
		background: rgba(44, 62, 80, .3) ;
		width: 100%;
		height: 50vh;
		margin: 0;
	}
	header div.bg-two div.pick-pensador{
		width: auto;
		height: auto;
		padding-top: 2%;
	}
		header div.bg-two div.pick-pensador ul li img{
			width: 120px;
			height: 120px;
			margin: auto;
			border: 4px solid rgba(192, 57, 43, 0);
			border-radius: 50%;
			-webkit-filter: grayscale(100%);
		}
		header div.bg-two div.pick-pensador ul li div.previa{ 
			display: none;
		}
		header div.bg-two div.pick-pensador ul li img:hover{
			border: 4px solid rgba(192, 57, 43, .5);
			-webkit-filter: none;
			transform: scale(1.05);
			transition: .3s ease-out;
		}


	section{
		width: 100%;
		height: 100vh;
	}

	section .title{
		color: rgba(52, 73, 94, .5);
		margin-left: 5%;
	}
	section div.header-think{
		background: rgba(189, 195, 199,  .5);
		width: 100%;
		height: 20vh;
	}
		section div.header-think .pic{
			width: 120px;
			height: 120px;
			border: 2px solid rgba(189, 195, 199, .5);
			border-radius: 100%;
			float: left;
			padding: .2em;
			margin: 1%;
		}

		section div.header-think .links-sociais li{
			display: inline-block;
			text-align: left;
			padding: .4em;
		}

	section article.pensamentos ul.group-frases div.box-frase{
		background: rgba(52, 73, 94, .1);
		width: 90%;
		height: auto;
		padding: .5em;
		border: 2px groove rgba(52, 73, 94, .1);
/*		border-radius: 10px;*/
		margin: .5% 0 .5% 5%;
		display: inline-block
	}
		section article.pensamentos ul.group-frases div.box-frase li.frase{
			width: 100%;
			color: rgba(52, 73, 94, .7);
			display: block;
		}

	section article.pensamentos ul.group-frases div.align-ico{
		margin-top: .5%;
		border-top: 1px groove rgba(52, 73, 94, .1);
		text-align: center;
		padding-top: .5em;
		/*display: none;*/
	}
		section article.pensamentos ul.group-frases div.align-ico i{
			background: none;
			width: auto;
			height: auto;
			font-size: 2em;
			font-style: normal;
			color: rgba(52, 73, 94, .5);
		}
}