<!DOCTYPE html>
<html ng-app="pensadores" lang="pt-br">
<head>
	<meta charset="utf-8">

	<!-- Css -->
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/grid-izzy.css">

	<!-- Javascript -->
	<script type="text/javascript" src="lib/angular-1.4.7/angular.js"></script>
	<script type="text/javascript" src="lib/app-pensadores.js"></script>

	<!-- Título -->
	<title>Pensadores - Angular-JS</title>
</head>
<body ng-controller="pensamentos">
	<header>
	<div class="bg-one">
		<h1 class="title">Pensadores</h1>
		<h3 class="text">Escolha seu favorito e compartilhe!</h3>
	</div>
	<div class="bg-two">
		<div class="destaques">
		<h2 class="subtitle">Destaques</h2>
			<ul>
				<li class="colunm-4" ng-repeat="perfil in perfilPensadores | filter:4">
					<div class="perfil">
						<img src="img/pic/Nietzsche.jpg" title="Pensador">
						<div class="previa">
							<span>{{perfil.nome}}</span>
							<span>{{perfil.epoca}}</span>
							<!-- <span>{{perfil.destaque}}</span> -->
						</div>
					</div>		
				</li>
			</ul>
		</div>
	</div>
		
	</header>
	<section id="pens-nietzsche">
		<div class="header-think" ng-repeat="perfilNietzsche in perfilNietzsche">
			<div class="colunm-3">
				<img class="pic colunm-2" src="img/pic/Nietzsche.jpg">
				<ul class="colunm-2">
					<li>{{perfilNietzsche.nome}}</li>
					<li>{{perfilNietzsche.work}}</li>
					<li>{{perfilNietzsche.nat}}</li>
				</ul>
			</div>
			<div class="colunm-3">
				<h4>Descrição curta</h4>
				<p>{{perfilNietzsche.desc}}</p>
			</div>
			<div class="colunm-3">
				<h4>Links sociais</h4>
				<ul class="links-sociais">
					<a href="#" title="Link: Facebook" target="_blank"><li class="ico-facebook"></li></a>
					<a href="#" title="Link: Twitter" target="_blank"><li class="ico-twitter"></li></a>
					<a href="#" title="Link: Instagram" target="_blank"><li class="ico-instagram"></li></a>
					<a href="#" title="Link: Wikipédia" target="_blank"><li class="ico-wikipedia"></li></a>
				</ul>
			</div>
		</div>
		
		<article class="pensamentos">
			<h2 class="title">#Pensamentos</h2>
			<ul class="group-frases"  ng-repeat="nietzche in nietzche">
				<div class="box-frase"><li class="ico-frase frase">{{nietzche.frase}}</li><div class="align-ico"><i class="ico-copy"></div></i></div>
			</ul>
		</article>
		
	</section>
	<!-- <section id="pens-Mquintana" ng-controller="pensamentos">
		<h2>Pensamentos Mario Quintana</h2>
		<ul class="group-frases">
			<li class="ico-frase frase">{{quintanaOne}}</li>
			<li class="ico-frase frase">{{quintanaTwo}}</li>
			<li class="ico-frase frase">{{quintanaThree}}</li>
			<li class="ico-frase frase">{{quintanaFour}}</li>
			<li class="ico-frase frase">{{quintanaFive}}</li>
		</ul>
	</section>
	<section id="pens-Massis" ng-controller="pensamentos">
		<h2>Pensamentos Machado de Assis</h2>
		<ul class="group-frases">
			<li class="ico-frase frase">{{assisOne}}</li>
			<li class="ico-frase frase">{{assisTwo}}</li>
			<li class="ico-frase frase">{{assisThree}}</li>
			<li class="ico-frase frase">{{assisFour}}</li>
			<li class="ico-frase frase">{{assisFive}}</li>
		</ul>
	</section> -->

</body>
</html>